# cache
.ruff_cache/
**/__pycache__/

# test files
silver/audio/wave/test.py
rr.py 
t.py

# lock file
poetry.lock

# old src folder 
silver/

# remove this once bext support is complete
src/audio/wave/bext.py
